.config/*
.vim/*
.gnupg/*
share/*
Music/*
lib/*
include/*
Videos/*
oracle/*
.ssh/*
.pki/*
.mozilla/*
.local/*
.lessshst
.viminfo
Templates/*
complieFolder/*
ICEauthority
.cpan/*
.subversion/*
.gem/*
.cache/*
